<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monumentos de Italia</title>
</head>

<body>
    <h1>Monumetos de Italia</h1>
    <p>Italia es uno de los países principales destinos turísticos en Europa y el Mundo, con más de 52 millones de turistas al año, 
    gracias a la gran cantidad de historia y tradiciones que alberga. Todo ese caudal cultural se puede apreciar en sus ciudades y en 
    especial en los monumentos de Italia.</p>
    <p>Hacer una lista con los principales monumentos de Italia no es nada fácil, ya que es el país con más Patrimonio de la Humanidad
     según la UNESCO. Aún así hemos seleccionado los 10 monumentos que cualquier persona que haya visitado o no el país transalpino 
     seguro que conoce.</p>
    <a href="https://es.wikipedia.org/wiki/Italia">go to Italy wiki</a>

    <h2>Coliseo de Roma</h2>
    <p>El Coliseo es el principal símbolo de Roma, y uno de los principales atractivos turísticos de Italia. Cada año visitan más de 6 millones de turistas, esta imponente construcción que, con casi 2.000 años de antigüedad, os hará retroceder al Imperio Romano. Desde el 2007 se convirtió en una de las Siete Maravillas del Mundo Moderno.
    La construcción del Coliseo comenzó en el año 72 bajo el régimen de Vespasiano y terminó en el año 80 durante el mandato del emperador Tito. Tras la finalización de la construcción el Coliseo se convirtió en el mayor anfiteatro romano, con una capacidad para 50.000 personas y unas dimensiones de 188 metros de longitud, 156 metros de anchura y 57 metros de altura.</p>
    <a href="https://es.wikipedia.org/wiki/Coliseo">go to Coliseo wiki</a>

    <h2>Fontana di Trevi</h2>
    <p>La Fontana de Trevi es la fuente más bonita de Roma y con unas dimensiones de 20 metros de anchura por 26 metros de altura, además es la fuente más grande de la ciudad. En el año 1954 con la película «Tres monedas en la fuente» se creó el mito que dice que:

    Lanzando una moneda: volverás a Roma.
    Arrojando dos monedas: encontrarás el amor en la ciudad.
    Tirando tres monedas: te casarás con la persona que conociste.
    Sin duda es un lugar, que si vamos a Roma, tenemos que visitar si o si.</p>
    <a
        href="https://es.wikipedia.org/wiki/Fontana_di_Trevi">go
        to Fontana wiki</a>

    <h2>Torre de Pisa</h2>
    <p>La Torre inclinada de Pisa es uno de los iconos más famosos de Italia. Su figura ha servido de escenografía para millones de viajeros que han hecho del turismo de Pisa uno de los puntos en sus vacaciones por el país alpino.  La Torre de Pisa es en realidad el campanario de la catedral de Pisa, que junto al baptisterio y el cementerio forman el conjunto que la Unesco declaró Patrimonio de la Humanidad en 1987.

Muchos opinan que si no fuera por su inclinación, la torre de Pisa sería una más entra tantas, un monumento sin un atractivo especial. Lo cierto es que su figura la ha hecho célebre, pero no por ello deja de ser una obra de arte arquitectónica, con un delicado trabajo de tallado.</p>
    <a href="https://es.wikipedia.org/wiki/Torre_de_Pisa">go to Torre wiki</a>
</body>

</html>