<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Más monumentos en Italia</title>
</head>

<body>
    <h1>Más monumentos en Italia</h1>
    <p>¡Vamos a conocer más monumentos en Italia!</p>
    <h2>Catedral de Milán</h2>
    <p>Con 157 metros de longitud, 11.700 metros cuadrados y capacidad para más de 40.000 personas, la catedral de Milán es uno de los monumentos católicos más grandes del mundo.

Su construcción se llevó a cabo durante cinco siglos, en los que diferentes arquitectos, escultores y artistas aportaron su contribución profesional en la famosa “Fabbrica del Duomo” (Fabrica de la Catedral). El resultado fue una arquitectura única, que fusiona el estilo gótico internacional y la tradición lombarda.

En su interior, entre las columnas se encuentran colgados grandes cuadros que representan diferentes escenas religiosas. A lo largo del templo se pueden ver los esqueletos de diferentes santos que se encuentran ataviados con sus mejores galas.</p>
    <a href="https://es.wikipedia.org/wiki/Catedral_de_Mil%C3%A1n">go to Catedral wiki</a>

    <h3>Valle de los Templos</h3>
    <p>Sicilia no es solo playa, en Agrigento está el conjunto de templos griegos mejor conservado del mundo. El valle de los templos es patrimonio de la humanidad, y fue descrito por Píndaro como “la más hermosa de las ciudades mortales”.

Fundada en el 580 a.C., conservó su esplendor hasta el 406 a.C., cuando los cartagineses sitiaron y saquearon la ciudad que en aquel momento tenía 200.000 habitantes. De nuevo en época romana Agrigento gozó de importancia en el siglo III a.C. hasta su decadencia final con la llegada de bizantinos y cristianos que arrasaron sus templos paganos. Estuvo abandonada hasta que se convirtió en recinto arqueológico.</p>
    <a href="https://es.wikipedia.org/wiki/Valle_de_los_Templos">go to Valle wiki</a>

</html>